.footer {
    margin-top: 50px;
}

.left-menu a {
    display: block;
}

.username {
    padding: 9px 10px 11px;
}

.send-message a {
    display: block;
}

.description {
    margin-top: 20px;
}

h4.secret {
    padding-top:10px;
    border-top: 1px dotted grey; 
}